# Don't track packages folder because it is too big to upload to git
# Will have to reinstall the packages on your own computer
packages/

# Don't track .onnx because it is too big to upload to git
*.onnx

# The .vs folder doesn't need to be uploaded, it will be remade
.vs/

# The x64 build file doesn't need to be uploaded, it will be remade
x64/

# Don't track .fbx files, they are outputs
*.fbx

# Don't track .gltf and .bin files, they are outputs
*.gltf
*.bin

# Don't track .mkv files, they are the inputs
*.mkv